body {
    background: #808080;
    font-family: "arial";
}
form {

}

table {
    background: white;
}

.td {
    text-align: center;
    padding: 10px;
}

.submit {
    text-align: center;
    background: blue;
    color: white;
    width: 100%;
    padding: 5px;
}
